body {
  background-color: powderblue;
}
img {
    max-width: 350px;
    transition: max-width 1s;
    border-style: dotted;
}
img:hover {
    max-width: 500px;
    border-color: blue;
    padding: 5px;
}
h1 {
  color: blue;
}
p {
  color: red;
}

